<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>新建文件夹 (10)/zhi1.png</key>
			<dict>
				<key>width</key>
				<integer>396</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>新建文件夹 (10)/zhi2.png</key>
			<dict>
				<key>width</key>
				<integer>399</integer>
				<key>height</key>
				<integer>403</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>新建文件夹 (10)/zhi3.png</key>
			<dict>
				<key>width</key>
				<integer>410</integer>
				<key>height</key>
				<integer>403</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>新建文件夹 (10)/zhi4.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>393</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>zhi1-2(1).png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>juanzhi0.png</string>
			<key>realTextureFileName</key>
			<string>juanzhi0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>