<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
    	<key>mifeng</key>
        <dict>
	        <key>low</key>
	        <dict>
	            <key>Layer48</key>
	            <dict>
	                <key>0</key>
	                <string>mifengguai_0001_MiFeng-yanpi2.png</string>
	            </dict>
	            <key>Layer46</key>
	            <dict>
	                <key>0</key>
	                <string>mifengguai_0000_MiFeng-yanpi1.png</string>
	            </dict>
	            <key>Layer17</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0003_MiFeng-tou4.png</string>
	                <key>1</key>
	                <string>新建文件夹 (12)/mifengguai_0009_MiFeng-tou1.png</string>
	                <key>2</key>
	                <string>新建文件夹 (12)/mifengguai_0004_MiFeng-tou3.png</string>
	                <key>3</key>
	                <string>新建文件夹 (12)/mifengguai_0006_MiFeng-tou2.png</string>
	            </dict>
	            <key>Layer16</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0013_MiFeng-body.png</string>
	            </dict>
	            <key>Layer22</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0010_MiFeng-R-shou.png</string>
	            </dict>
	            <key>Layer21</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0011_MiFeng-L-shou.png</string>
	            </dict>
	            <key>Layer20</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0014_MiFeng-R-chibang.png</string>
	            </dict>
	            <key>Layer19</key>
	            <dict>
	                <key>0</key>
	                <string>新建文件夹 (12)/mifengguai_0015_MiFeng-L-chibang.png</string>
	            </dict>
	        </dict>
	        <key>middle</key>
	        <dict>
	            <key>Layer48</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0001_MiFeng-yanpi2.png</string>
	            </dict>
	            <key>Layer46</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0000_MiFeng-yanpi1.png</string>
	            </dict>
	            <key>Layer17</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0003_MiFeng-tou4.png</string>
	                <key>1</key>
	                <string>middle/mifengguai_0009_MiFeng-tou1.png</string>
	                <key>2</key>
	                <string>middle/mifengguai_0004_MiFeng-tou3.png</string>
	                <key>3</key>
	                <string>middle/mifengguai_0006_MiFeng-tou2.png</string>
	            </dict>
	            <key>Layer16</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0013_MiFeng-body.png</string>
	            </dict>
	            <key>Layer22</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0010_MiFeng-R-shou.png</string>
	            </dict>
	            <key>Layer21</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0011_MiFeng-L-shou.png</string>
	            </dict>
	            <key>Layer20</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0014_MiFeng-R-chibang.png</string>
	            </dict>
	            <key>Layer19</key>
	            <dict>
	                <key>0</key>
	                <string>middle/mifengguai_0015_MiFeng-L-chibang.png</string>
	            </dict>
	        </dict>
	        <key>high</key>
	        <dict>
	            <key>Layer48</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0001_MiFeng-yanpi2.png</string>
	            </dict>
	            <key>Layer46</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0000_MiFeng-yanpi1.png</string>
	            </dict>
	            <key>Layer17</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0003_MiFeng-tou4.png</string>
	                <key>1</key>
	                <string>high/mifengguai_0009_MiFeng-tou1.png</string>
	                <key>2</key>
	                <string>high/mifengguai_0004_MiFeng-tou3.png</string>
	                <key>3</key>
	                <string>high/mifengguai_0006_MiFeng-tou2.png</string>
	            </dict>
	            <key>Layer16</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0013_MiFeng-body.png</string>
	            </dict>
	            <key>Layer22</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0010_MiFeng-R-shou.png</string>
	            </dict>
	            <key>Layer21</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0011_MiFeng-L-shou.png</string>
	            </dict>
	            <key>Layer20</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0014_MiFeng-R-chibang.png</string>
	            </dict>
	            <key>Layer19</key>
	            <dict>
	                <key>0</key>
	                <string>high/mifengguai_0015_MiFeng-L-chibang.png</string>
	            </dict>
	        </dict>
    	</dict>
    </dict>
</plist>
